@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
.font-cinzel {
  font-family: 'Cinzel', serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #334155;
}

::-webkit-scrollbar-thumb:hover {
  background: #d97706;
}

body {
  background-color: #020617;
  /* Matches lokBlue-950 */
}

@keyframes hinge-swing {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  20% {
    transform: translate(0, 0) rotate(5deg);
  }

  40% {
    transform: translate(0, 0) rotate(-3deg);
  }

  60% {
    transform: translate(0, 0) rotate(2deg);
  }

  80% {
    transform: translate(0, 0) rotate(-1deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.animate-hinge-swing {
  animation: hinge-swing 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}